{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-oQdY8IG+RSDR1N7tIecbT1P6Luz5hgu61n6ZY/GXc3K36FhDsQ8owqD9k95/7NFf" crossorigin="anonymous">
</head>
<body>
  {% include 'partials/navbar.html' %}
</body>
</html>